.todo-input {
    padding: 10px;
    width: 40%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.add-todo-btn {
    padding : 10px 20px;
    font-size : 16px; 
    background-color : #28a745;
    color : white;
    border : none;
    border-radius : 4px;
    cursor : pointer;
}

.todo__input {
    margin-left : 33%
}

.task-list {
    list-style-type: none;
    padding: 0;
    margin-top: 9%;
    margin-left: 40%;
    width: 50%;
}

.task-list li {
    border-bottom: #ccc 1px solid;
    padding: 10px 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}