.todo-input {
    padding: 10px;
    width: 40%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.add-todo-btn {
    padding : 10px 20px;
    font-size : 16px; 
    background-color : #28a745;
    color : white;
    border : none;
    border-radius : 4px;
    cursor : pointer;
}

.todo__input {
    margin-left : 33%
}